<div class="main-div">
<table>
  <tr>
  <%i = 1%>
<%@data["data"].each do |temp|%>
    <td class="img-space">

      <div class="top-info">
        <%=image_tag(temp["user"]["profile_picture"], height: '70px', width: '70px', class: 'profile-image')%>
        <span class = "uname">
          <%=temp["user"]["full_name"] rescue nil%>
          <%i_user_name = temp["user"]["username"] rescue nil%>
          <br><i><%=link_to("@"+i_user_name, "http://instagram.com/"+i_user_name, :class => "hover", :target => "_blank")%></i>
        </span>
      </div>
      
      <div class = "image-wrapper">
        <%if temp["type"] == "image"%>
          <div class = "image">
            <%=link_to image_tag(temp["images"]["low_resolution"]["url"], :class => "hover"), temp["images"]["standard_resolution"]["url"], class: "fancybox hover"%>
          </div>
        <%elsif temp["type"] == "video"%>
          <div class = "image">
            <%=video_tag(temp["videos"]["low_resolution"]["url"],:size=>"306x306",:controls => true, :class => "hover")%>
          </div>
        <%end%>
        
        <div class = "share">
          <%= social_share_button_tag("", :url => temp["link"]) %>
        <span class="likes-text">
          <%=temp["likes"]["count"] rescue 0%>&nbsp;
          <%=image_tag("http://taylorswift.com/themes/master/img/smilies/heart.png")%> 
        </span>
        <span class="likes-text">
          <%=temp["comments"]["count"] rescue 0%>&nbsp;
          <%=image_tag("http://elysianshadows.com/dev/templates/rt_voxel/images/icons/icon-forum.png")%>
        </span>
        <span class="likes-text">
          <%= link_to temp["link"], :class => "hover", :target => "_blank" do %>
            View on <%= image_tag('https://webapps.richland2.org/images/socialmedia/icon-social-instagram.png') %>
          <% end %>
        </span>
        <%if temp["location"] && temp["location"]["longitude"] && temp["location"]["latitude"]%>
        <%i_location = temp["location"]["latitude"].to_s+","+temp["location"]["longitude"].to_s%>
        <%=image_tag('http://maps.googleapis.com/maps/api/staticmap?center='+i_location+'&zoom=9&size=150x150&sensor=false&markers=color:blue%7Clabel:A%7C'+i_location+'&key=AIzaSyCVsglLfTKpvPly89-ilYZVIBaxEffpicY', :class => "hover map")%>
        <%end%>
      </div>
      </div>
      <div class="desc">
        <%description = temp["caption"]["text"].strip rescue "No description available"%>
          <p><%=description[0..200]%>
            <%="..." if description.length > 200%>
          </p>
        </div>
    </td>
    <%if i%2 == 0%>
    </tr><tr>
  <%end%>
  <%i+=1%>
<%end%>
</table>
</div>