<div class="main-div">
<table>
  <tr>
  <%i = 1%>
<%@data["data"].each do |temp|%>
    <td class="img-space">
      <div class="top-info">
        <%=image_tag(temp["user"]["profile_picture"], height: '70px', width: '70px', class: 'profile-image')%>
        <span class = "uname">
          <%=temp["user"]["full_name"] rescue nil%>
          <br><i>@<%=temp["user"]["username"] rescue nil%></i>
        </span>
      </div>
      <div class = "image-wrapper">
        <div class = "image">
          <%=image_tag(temp["images"]["low_resolution"]["url"])%>
        </div>
        <div class = "share">
        <%=temp["likes"]["count"] rescue 0%> likes<br>
        <%=temp["comments"]["count"] rescue 0%> comments
      </div>
      </div>
      <div class="desc">
        <%description = temp["caption"]["text"].strip rescue "No description available"%>
          <p><%=description[0..200]%>
            <%="..." if description.length > 200%>
          </p>
        </div>
    </td>
    <%if i%2 == 0%>
    </tr><tr>
  <%end%>
  <%i+=1%>
<%end%>
</table>
</div>